<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<filter>
		<filter-name>CheckLoginFilter</filter-name>
		<filter-class>com.stock.filter.CheckLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CheckLoginFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>CharacterFilter</filter-name>
		<filter-class>com.stock.filter.CharacterFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharacterFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.stock.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.stock.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.stock.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/servlet/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PricePageQueryServlet</servlet-name>
		<servlet-class>com.stock.servlet.PricePageQueryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PricePageQueryServlet</servlet-name>
		<url-pattern>/servlet/PricePageQueryServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChargeAccountServlet</servlet-name>
		<servlet-class>com.stock.servlet.ChargeAccountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChargeAccountServlet</servlet-name>
		<url-pattern>/servlet/ChargeAccountServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchQueryServlet</servlet-name>
		<servlet-class>com.stock.servlet.SearchQueryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchQueryServlet</servlet-name>
		<url-pattern>/servlet/SearchQueryServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ManageStockServlet</servlet-name>
		<servlet-class>com.stock.servlet.ManageStockServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManageStockServlet</servlet-name>
		<url-pattern>/servlet/ManageStockServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteStockServlet</servlet-name>
		<servlet-class>com.stock.servlet.DeleteStockServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteStockServlet</servlet-name>
		<url-pattern>/servlet/DeleteStockServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddStockServlet</servlet-name>
		<servlet-class>com.stock.servlet.AddStockServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddStockServlet</servlet-name>
		<url-pattern>/servlet/AddStockServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SaleStockServlet</servlet-name>
		<servlet-class>com.stock.servlet.SaleStockServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaleStockServlet</servlet-name>
		<url-pattern>/servlet/SaleStockServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BuyStockServlet</servlet-name>
		<servlet-class>com.stock.servlet.BuyStockServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BuyStockServlet</servlet-name>
		<url-pattern>/servlet/BuyStockServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>com.stock.servlet.MainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/servlet/MainServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TradeRecordServlet</servlet-name>
		<servlet-class>com.stock.servlet.TradeRecordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TradeRecordServlet</servlet-name>
		<url-pattern>/servlet/TradeRecordServlet</url-pattern>
	</servlet-mapping>
</web-app>